r/railml/src/main/resources/subschemas/infrastructureTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- $Id: infrastructureTypes.xsd 602 2013-06-11 15:25:20Z railML.org $ -->
<xs:schema xmlns:rail="http://www.railml.org/schemas/2013" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="http://www.railml.org/schemas/2013" elementFormDefault="qualified" version="2.2">

  <xs:annotation>
    <xs:documentation>Copyright (c) railML.org; All Rights Reserved.</xs:documentation>
    <xs:documentation>This work is licensed under a Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License with further restrictions. http://www.railml.org/index.php/license.html</xs:documentation>
    <xs:documentation>For further information see: http://www.railml.org/</xs:documentation>
    <xs:documentation>Content of this file: XML Schema for railML(R) 2.2 Definition of attribute groups, simple and complex types, used by infrastructure sub schema (IS)</xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="railwayUnits.xsd" />
  <xs:include schemaLocation="railwayBaseTypes.xsd" />

  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd" />

  <xs:complexType name="tBasePlacedElement">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName">
        <xs:sequence>
          <xs:element name="geoCoord" type="rail:tGeoCoord" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_switch" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_crossing" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_crossSection" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_border" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_speedChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_gradientChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_radiusChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_levelCrossing" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_ownerChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_operationModeChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_trainProtectionChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_electrificationChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_powerTransmissionChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_axleWeightChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_gaugeChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_geoMapping" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_trackCondition" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_signal" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_trainDetector" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_trackCircuitBorder" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_balise" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_trainProtectionElement" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_tunnel" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_brigde" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_platformEdge" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_serviceSection" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="rail:aRelPosition" />
        <xs:attributeGroup ref="rail:aAbsPosition" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="tPlacedElement">
    <xs:complexContent>
      <xs:extension base="rail:tBasePlacedElement">
        <xs:sequence>
          <xs:element name="states" type="rail:tStates" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Container to define disabled/enabled pieces of infrastructure.</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_switch" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_crossing" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_crossSection" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_border" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_speedChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_gradientChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_radiusChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_levelCrossing" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_ownerChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_operationModeChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_trainProtectionChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_electrificationChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_powerTransmissionChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_axleWeightChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_gaugeChange" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_geoMapping" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_trackCondition" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_signal" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_trainDetector" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_trackCircuitBorder" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_balise" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_trainProtectionElement" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="tPlacedElementWithLength">
    <xs:complexContent>
      <xs:extension base="rail:tBasePlacedElement">
        <xs:sequence>
          <xs:element name="states" type="rail:tStatesWithLength" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Container to define disabled/enabled pieces of infrastructure with length values</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_tunnel" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_brigde" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_platformEdge" />
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_serviceSection" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="length" type="rail:tLengthM">
          <xs:annotation>
            <xs:documentation>length along the track in meters</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tOrientedElement">
    <xs:complexContent>
      <xs:extension base="rail:tPlacedElement">
        <xs:attributeGroup ref="rail:aOrientation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="tOrientedElementWithLength">
    <xs:complexContent>
      <xs:extension base="rail:tPlacedElementWithLength">
        <xs:attributeGroup ref="rail:aOrientation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tDelimitedOrientedElement">
    <xs:complexContent>
      <xs:extension base="rail:tPlacedElement">
        <xs:attributeGroup ref="rail:aDelimitedOrientation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="tDelimitedOrientedElementWithLength">
    <xs:complexContent>
      <xs:extension base="rail:tPlacedElementWithLength">
        <xs:attributeGroup ref="rail:aDelimitedOrientation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tStrictOrientedElement">
    <xs:complexContent>
      <xs:extension base="rail:tPlacedElement">
        <xs:attributeGroup ref="rail:aStrictOrientation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="tStrictOrientedElementWithLength">
    <xs:complexContent>
      <xs:extension base="rail:tPlacedElementWithLength">
        <xs:attributeGroup ref="rail:aStrictOrientation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tGeoCoord">
    <xs:attribute name="coord" type="rail:tCoordinateList" use="required" />
    <xs:attribute name="extraHeight" type="xs:double" />
    <xs:attribute name="epsgCode" type="xs:anyURI" />
    <xs:attribute name="heightEpsgCode" type="xs:anyURI" />
  </xs:complexType>

  <xs:attributeGroup name="aRelPosition">
    <xs:attribute name="pos" type="rail:tLengthM" use="required" />
  </xs:attributeGroup>

  <xs:attributeGroup name="aOrientation">
    <xs:attribute name="dir" type="rail:tLaxDirection">
      <xs:annotation>
        <xs:documentation>a direction, which allows for all direction attributes</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="aDelimitedOrientation">
    <xs:attribute name="dir" type="rail:tDelimitedDirection">
      <xs:annotation>
        <xs:documentation>a limited direction, which allows only for "up", "down" and "unknown"</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="aStrictOrientation">
    <xs:attribute name="dir" type="rail:tStrictDirection">
      <xs:annotation>
        <xs:documentation>a strict direction, which allows only for "up" and "down"</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="aAbsPosition">
    <xs:attribute name="absPos" type="rail:tLengthM" />
    <xs:attribute name="absPosOffset" type="rail:tLengthM" use="optional">
      <xs:annotation>
        <xs:documentation>DEPRECATED, not needed, not used</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="tStates">
    <xs:sequence>
      <xs:element name="state" maxOccurs="unbounded" type="rail:tState">
        <xs:annotation>
          <xs:documentation>This is to define disabled/enabled infrastructure pieces with a given time frame.</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_switch" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_crossing" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_crossSection" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_border" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_speedChange" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_gradientChange" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_radiusChange" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_levelCrossing" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_ownerChange" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_operationModeChange" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_trainProtectionChange" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_electrificationChange" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_powerTransmissionChange" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_axleWeightChange" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_gaugeChange" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_geoMapping" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_trackCondition" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_signal" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_trainDetector" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_trackCircuitBorder" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_balise" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_trainProtectionElement" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tState">
    <xs:sequence>
      <xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>provide an extension point for non-railML elements in foreign namespace</xs:documentation>
        </xs:annotation>
      </xs:any>
    </xs:sequence>
    <xs:attribute name="disabled" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation>This attribute is 'true' if the infrastructure piece is somehow disabled.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="operatingPeriodRef" type="rail:tGenericRef">
      <xs:annotation>
        <xs:documentation>The temporal frame of the 'state' should be defined in the 'timetable' part of the railML file, using the 'operatingPeriod' element.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="remarks" type="rail:tElementDescription">
      <xs:annotation>
        <xs:documentation>This is to further explain the 'state' definition.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="rail:anyAttribute" />
  </xs:complexType>

  <xs:complexType name="tStatesWithLength">
    <xs:sequence>
      <xs:element name="state" maxOccurs="unbounded" type="rail:tStateWithLength">
        <xs:annotation>
          <xs:documentation>This is to define disabled/enabled infrastructure pieces with a given time frame for a certain length.</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_tunnel" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_brigde" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_platformEdge" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_serviceSection" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:state_track" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tStateWithLength">
    <xs:complexContent>
      <xs:extension base="rail:tState">
        <xs:sequence>
          <xs:element name="from" type="rail:tLocation" minOccurs="0">
            <xs:annotation>
              <xs:documentation>starting point where the 'state' takes place, e.g. kilometric position</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:from" />
            </xs:annotation>
          </xs:element>
          <xs:element name="to" type="rail:tLocation" minOccurs="0">
            <xs:annotation>
              <xs:documentation>end point where the 'state' takes place, e.g. kilometric position</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:to" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tLocation">
    <xs:sequence>
      <xs:element name="geoCoord" type="rail:tGeoCoord" minOccurs="0">
        <xs:annotation>
          <xs:documentation>location described by geographic coordinates</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_from" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_to" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ocpRef" type="rail:tGenericRef">
      <xs:annotation>
        <xs:documentation>location described by the reference to a well-known 'operation or control point' defined in the same railML file</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="rail:aRelPosition" />
    <xs:attributeGroup ref="rail:aAbsPosition" />
  </xs:complexType>

  <xs:complexType name="tRuleCodeElement">
    <xs:complexContent>
      <xs:extension base="rail:tOrientedElement">
        <xs:attribute name="ruleCode" type="rail:tElementDescription">
          <xs:annotation>
            <xs:documentation>Code for this element in the rule book, combination of letters and numbers and space allowed, e.g. Ne5, GA, SFRS/E</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tOcpArea">
    <xs:attribute name="name" type="rail:tGenericName" />
    <xs:attribute name="number" type="rail:tPositiveCounter" />
    <xs:attribute name="zip" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="tOcpPropOperational">
    <xs:attribute name="operationalType" type="rail:tOcpOperationalType" />
    <xs:attribute name="trafficType" type="rail:tOcpTrafficType" />
    <xs:attribute name="orderChangeable" type="xs:boolean" default="false" />
    <xs:attribute name="ensuresTrainSequence" type="xs:boolean" default="true" />
  </xs:complexType>

  <xs:complexType name="tOcpPropEquipmentSummary">
    <xs:attribute name="signalBox" type="rail:tInterlockingTypes" />
    <xs:attribute name="powerstation" type="xs:boolean" default="false" />
    <xs:attribute name="hasHomeSignals" type="xs:boolean" default="false" />
    <xs:attribute name="hasStarterSignals" type="xs:boolean" default="false" />
    <xs:attribute name="hasSwitches" type="xs:boolean" default="false" />
  </xs:complexType>

  <xs:complexType name="tTrackRefInGroup">
    <xs:complexContent>
      <xs:extension base="rail:tElementRefInGroup">
        <!-- Possible trackGroup-specific attributes to be added here later -->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tOcpPropService">
    <xs:attribute name="passenger" type="xs:boolean" default="false" />
    <xs:attribute name="service" type="xs:boolean" default="false" />
    <xs:attribute name="ship" type="xs:boolean" default="false" />
    <xs:attribute name="bus" type="xs:boolean" default="false" />
    <xs:attribute name="airport" type="xs:boolean" default="false" />
    <xs:attribute name="tariffpoint" type="xs:boolean" default="false" />
    <xs:attribute name="goodsLoading" type="xs:boolean" default="false" />
    <xs:attribute name="goodsSiding" type="xs:boolean" default="false" />
    <xs:attribute name="goodsIntermodal" type="xs:boolean" default="false" />
    <xs:attribute name="goodsMarshalling" type="xs:boolean" default="false" />
  </xs:complexType>

  <xs:complexType name="tOcpTsi">
    <xs:attribute name="country" type="rail:tTwoDigits" />
    <xs:attribute name="location" type="rail:tFiveDigits" />
    <xs:attribute name="check" type="rail:tOneDigit" />
    <!-- more attributes can be added here later -->
  </xs:complexType>

  <xs:complexType name="tOcpPropOther">
    <xs:attribute name="frontier" type="xs:boolean" default="false" />
    <xs:attribute name="chargeFrontier" type="xs:boolean" default="false" />
    <xs:attribute name="status" type="rail:tOcpStatus" default="operational" />
  </xs:complexType>

  <xs:simpleType name="tOcpStatus">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="planned" />
          <xs:enumeration value="operational" />
          <xs:enumeration value="disabled" />
          <xs:enumeration value="closed" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="tOcpManMode">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="manned" />
          <xs:enumeration value="unmanned" />
          <xs:enumeration value="off" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tOcpUptime">
    <xs:complexContent>
      <xs:extension base="rail:tTimeSpan">
        <xs:attribute name="mode" type="rail:tOcpManMode" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tDesignator">
    <xs:attribute name="register" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>name of the register, e.g. IBNR, DB640, RL100 or DIDOK</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="entry" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>the OCP's code in the specified register</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="rail:aTimePeriod">
      <xs:annotation>
        <xs:documentation>the time period when the register is valid</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attributeGroup ref="rail:anyAttribute">
      <xs:annotation>
        <xs:documentation>provide an extension point for non-railML attributes in foreign namespace</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>

  <xs:complexType name="tOperationControlPoint">
    <xs:complexContent>
      <xs:extension base="rail:tOcpWithIDAndName">
        <xs:attribute name="number" type="xs:string">
          <xs:annotation>
            <xs:documentation>DEPRECATED: use the 'designator' with its parameters 'register' and 'entry' instead</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="abbrevation" type="xs:string">
          <xs:annotation>
            <xs:documentation>DEPRECATED: use the 'designator' with its parameters 'register' and 'entry' instead</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="timezone" type="rail:tTimeZone"> </xs:attribute>
        <xs:attribute name="parentOcpRef" type="rail:tGenericRef" use="optional">
          <xs:annotation>
            <xs:documentation>references the one and only parent ocp of this ocp</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tOcpWithIDAndName">
    <xs:annotation>
      <xs:documentation>generic base type, used for inheritance of many railML types</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rail:tAdditionalName">
        <xs:sequence>
          <xs:element name="additionalName" type="rail:tAdditionalOcpName" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>additional names and its according descriptions to be provided in other languages, dialects, encodings...</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:additionalName_ocp" />
            </xs:annotation>
          </xs:element>
          <xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>provide an extension point for non-railML elements in foreign namespace</xs:documentation>
            </xs:annotation>
          </xs:any>
        </xs:sequence>
        <xs:attribute name="id" type="rail:tGenericID" use="required">
          <xs:annotation>
            <xs:documentation>XML-file-wide unique identity is required for later referencing that element</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="code" type="rail:tGenericName">
          <xs:annotation>
            <xs:documentation>for typical, specific abbreviations, used in different systems with the same understanding</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="rail:tOcpNameType">
          <xs:annotation>
            <xs:documentation>type of the ocp name</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tAdditionalOcpName">
    <xs:attribute name="name" type="rail:tGenericName">
      <xs:annotation>
        <xs:documentation>should be interpreted in its elements' context (e.g. track/name, vehicle/name)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" type="rail:tElementDescription">
      <xs:annotation>
        <xs:documentation>should be interpreted in its elements' context, substantiates the name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xml:lang">
      <xs:annotation>
        <xs:documentation>natural language identification according to http://www.w3.org/TR/xml/#sec-lang-tag</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="rail:tOcpNameType">
      <xs:annotation>
        <xs:documentation>type of the ocp name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="rail:anyAttribute">
      <xs:annotation>
        <xs:documentation>provide an extension point for non-railML attributes in foreign namespace</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>

  <xs:simpleType name="tOcpNameType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="operationalName" />
          <xs:enumeration value="trafficName" />
          <xs:enumeration value="localName" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="tOcpOperationalType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="station" />
          <xs:enumeration value="depot" />
          <xs:enumeration value="stoppingPoint" />
          <xs:enumeration value="crossover" />
          <xs:enumeration value="junction" />
          <xs:enumeration value="blockPost" />
          <xs:enumeration value="blockSignal" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="tOcpTrafficType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="passenger" />
          <xs:enumeration value="freight" />
          <xs:enumeration value="shunting" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tOcpAdditionalName">
    <xs:annotation>
      <xs:documentation>Deprecated for next major release, type "tAdditionalName" is used by "additionalName" in "ocp"</xs:documentation>
    </xs:annotation>
    <xs:attribute name="value" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Deprecated for next major release, use attribute "name" in element "additionalName" in "ocp" instead</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="rail:tOcpNameType">
      <xs:annotation>
        <xs:documentation>Deprecated for next major release, element "additionalName" in "ocp" provides the same attribute</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute ref="xml:lang">
      <xs:annotation>
        <xs:documentation>Deprecated for next major release, element "additionalName" in "ocp" provides the same attribute</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="tController">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName">
        <xs:annotation>
          <xs:documentation>controller element, e.g. interlocking</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="states" type="rail:tStates" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Container to define disabled/enabled controllers</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_controller" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <!--<xs:attribute name="type" type="xs:string" use="optional" />-->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:attributeGroup name="aOcpRef">
    <xs:attribute name="ocpStationRef" type="rail:tGenericRef">
      <xs:annotation>
        <xs:documentation>reference on ocp element, e.g. station</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="controllerRef" type="rail:tGenericRef">
      <xs:annotation>
        <xs:documentation>reference on controller element, e.g. interlocking</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="aOwner">
    <xs:attribute name="ownerName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>DEPRECATED, use infrastructureManagerRef instead to refer to a listed infrastructureManager</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uic-no" type="rail:tPositiveCounter" />
    <xs:attribute name="infrastructureManagerRef" type="rail:tGenericRef">
      <xs:annotation>
        <xs:documentation>reference to the infrastructure manager entry</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="tOwner">
    <xs:attributeGroup ref="rail:aOwner" />
  </xs:complexType>

  <xs:complexType name="tOwnerChange">
    <xs:complexContent>
      <xs:extension base="rail:tStrictOrientedElement">
        <xs:attributeGroup ref="rail:aOwner" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tClearanceManaging">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="sight" />
          <xs:enumeration value="time" />
          <xs:enumeration value="blocking" />
          <xs:enumeration value="LZB-blocking" />
          <xs:enumeration value="absBrakeDist" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tOperationMode">
    <xs:attributeGroup ref="rail:aOperationMode" />
  </xs:complexType>

  <xs:attributeGroup name="aOperationMode">
    <xs:attribute name="modeLegislative" type="xs:string" use="required" />
    <xs:attribute name="modeExecutive" type="xs:string" use="required" />
    <xs:attribute name="clearanceManaging" type="rail:tClearanceManaging" />
  </xs:attributeGroup>

  <xs:complexType name="tOperationModeChange">
    <xs:complexContent>
      <xs:extension base="rail:tStrictOrientedElement">
        <xs:attributeGroup ref="rail:aOperationMode" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:attributeGroup name="aTrainProtection">
    <xs:attribute name="monitoring" type="rail:tTrainProtectionMonitoring" default="none" />
    <xs:attribute name="medium" type="rail:tTrainProtectionMedium" />
  </xs:attributeGroup>

  <xs:complexType name="tTrainProtection">
    <xs:attributeGroup ref="rail:aTrainProtection" />
  </xs:complexType>

  <xs:complexType name="tTrainProtectionChange">
    <xs:complexContent>
      <xs:extension base="rail:tStrictOrientedElement">
        <xs:attributeGroup ref="rail:aTrainProtection" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tTrainProtectionElement">
    <xs:complexContent>
      <xs:extension base="rail:tOrientedElement">
        <xs:attribute name="medium" type="rail:tTrainProtectionMedium" />
        <xs:attribute name="system" type="xs:string">
          <xs:annotation>
            <xs:documentation>DEPRECATED: use the enumeration parameter trainProtectionSystem instead</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="trainProtectionSystem" type="xs:string">
          <xs:annotation>
            <xs:documentation>definition of the national train protection system, which is installed at the track</xs:documentation>
            <xs:documentation>use value from the separate code definition file 'TrainProtectionSystems.xml'/trainProtectionSystemsAtTrack</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="model" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tTrainProtectionElementGroup">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName">
        <xs:sequence>
          <xs:element name="trainProtectionElementRef" type="rail:tElementWithReference" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:trainProtectionElementRef" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tElectrification">
    <xs:attributeGroup ref="rail:aElectrification" />
  </xs:complexType>

  <xs:simpleType name="tElectrificationType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="none" />
          <xs:enumeration value="overhead" />
          <xs:enumeration value="3rdRail" />
          <xs:enumeration value="sideRail" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:attributeGroup name="aElectrification">
    <xs:attribute name="type" type="rail:tElectrificationType" default="none" />
    <xs:attribute name="voltage" type="rail:tVoltageVolt" default="15000" />
    <xs:attribute name="frequency" type="rail:tFrequencyHertz" default="16.667" />
  </xs:attributeGroup>

  <xs:complexType name="tElectrificationChange">
    <xs:complexContent>
      <xs:extension base="rail:tStrictOrientedElement">
        <xs:attributeGroup ref="rail:aElectrification" />
        <xs:attribute name="vMax" type="rail:tSpeedKmPerHour" />
        <xs:attribute name="isolatedSection" type="xs:boolean" default="false" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tEpsgCode">
    <xs:attributeGroup ref="rail:aEpsgCode" />
  </xs:complexType>

  <xs:attributeGroup name="aEpsgCode">
    <xs:attribute name="default" type="xs:anyURI" use="required" />
    <xs:attribute name="extraHeight" type="xs:anyURI" />
  </xs:attributeGroup>

  <xs:complexType name="tGauge">
    <xs:attributeGroup ref="rail:aGauge" />
  </xs:complexType>

  <xs:attributeGroup name="aGauge">
    <xs:attribute name="value" type="rail:tLengthMM" default="1435" />
  </xs:attributeGroup>

  <xs:complexType name="tGaugeChange">
    <xs:complexContent>
      <xs:extension base="rail:tStrictOrientedElement">
        <xs:attributeGroup ref="rail:aGauge" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tPowerTransmission">
    <xs:attributeGroup ref="rail:aPowerTransmission" />
  </xs:complexType>

  <xs:simpleType name="tPowerTransmissionType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="adhesion" />
          <xs:enumeration value="gearrack" />
          <xs:enumeration value="cable" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:attributeGroup name="aPowerTransmission">
    <xs:attribute name="type" type="rail:tPowerTransmissionType" default="adhesion" />
    <xs:attribute name="style" type="xs:string" />
  </xs:attributeGroup>

  <xs:complexType name="tPowerTransmissionChange">
    <xs:complexContent>
      <xs:extension base="rail:tStrictOrientedElement">
        <xs:attributeGroup ref="rail:aPowerTransmission" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tAxleWeight">
    <xs:attributeGroup ref="rail:aAxleWeight" />
  </xs:complexType>

  <xs:attributeGroup name="aAxleWeight">
    <xs:attribute name="value" type="rail:tWeightTons" use="required" />
    <xs:attribute name="meterload" type="rail:tMeterloadTonsPerMeter" />
  </xs:attributeGroup>

  <xs:complexType name="tAxleWeightChange">
    <xs:complexContent>
      <xs:extension base="rail:tStrictOrientedElement">
        <xs:attributeGroup ref="rail:aAxleWeight" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tMileageChangeDescr">
    <xs:restriction base="xs:string">
      <xs:enumeration value="overlapping" />
      <xs:enumeration value="missing" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="tMileageChange">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName">
        <xs:sequence>
          <xs:element name="geoCoord" type="rail:tGeoCoord" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_mileageChange" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="absPosIn" type="rail:tLengthM" use="required" />
        <xs:attribute name="absPosInOffset" type="rail:tLengthM" use="optional">
          <xs:annotation>
            <xs:documentation>DEPRECATED: not needed, not used</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="rail:tMileageChangeDescr" use="required" />
        <xs:attribute name="absPos" type="rail:tLengthM" use="required" />
        <xs:attribute name="pos" type="rail:tLengthM" use="required" />
        <xs:attribute name="absDir" type="rail:tMileageDirection">
          <xs:annotation>
            <xs:documentation>defining a change direction for the mileageChange with values "raising" or "falling"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="dir" type="rail:tStrictDirection">
          <xs:annotation>
            <xs:documentation>DEPRECATED: use the new attribute absDir instead to define the mileage's change direction</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tSwitchType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ordinarySwitch" />
          <xs:enumeration value="insideCurvedSwitch" />
          <xs:enumeration value="outsideCurvedSwitch" />
          <xs:enumeration value="threeWaySwitch" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="tCrossingType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="simpleCrossing" />
          <xs:enumeration value="simpleSwitchCrossing" />
          <xs:enumeration value="doubleSwitchCrossing" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tCommonSwitchAndCrossingData">
    <xs:complexContent>
      <xs:extension base="rail:tPlacedElement">
        <xs:attribute name="trackContinueCourse" type="rail:tCourse" />
        <xs:attribute name="trackContinueRadius" type="rail:tRadiusM" />
        <xs:attribute name="normalPosition" type="rail:tCourse" />
        <xs:attribute name="model" type="xs:string" />
        <xs:attribute name="length" type="rail:tLengthM" />
        <xs:attributeGroup ref="rail:aOcpRef" />
        <xs:attributeGroup ref="rail:anyAttribute">
          <xs:annotation>
            <xs:documentation>provide an extension point for non-railML attributes in foreign namespace</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tSwitch">
    <xs:complexContent>
      <xs:extension base="rail:tCommonSwitchAndCrossingData">
        <xs:attribute name="type" type="rail:tSwitchType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tCrossing">
    <xs:complexContent>
      <xs:extension base="rail:tCommonSwitchAndCrossingData">
        <xs:attribute name="type" type="rail:tCrossingType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tBufferStop">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tOpenEnd">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tMacroscopicNode">
    <xs:annotation>
      <xs:documentation>also "Star" or "Hub"</xs:documentation>
    </xs:annotation>
    <xs:attribute name="ocpRef" type="rail:tGenericRef" use="required" />
    <xs:attribute name="flowDirection" type="rail:tFlowDirection" default="both" />
  </xs:complexType>

  <xs:simpleType name="tTrackType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="mainTrack" />
          <xs:enumeration value="secondaryTrack" />
          <xs:enumeration value="connectingTrack" />
          <xs:enumeration value="sidingTrack" />
          <xs:enumeration value="stationTrack" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tTrack">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName">
        <xs:sequence>
          <xs:element name="states" type="rail:tStatesWithLength" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Container to define disabled/enabled pieces of a track</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_track" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="rail:tTrackType" />
        <xs:attribute name="mainDir" type="rail:tExtendedDirection" />
        <xs:attribute name="infraAttrGroupRef" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>DEPRECATED: use sub-element infraAttrGroupRef instead.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tLineType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="mainLine" />
          <xs:enumeration value="secondaryLine" />
          <xs:enumeration value="branchLine" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tLine">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName">
        <xs:sequence>
          <xs:element name="states" type="rail:tStates" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Container to define disabled/enabled lines</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_line" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="rail:tLineType" />
        <xs:attribute name="infrastructureManagerRef" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>reference to the infrastructure manager entry</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tLocallyControlledArea">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName">
        <xs:sequence>
          <xs:element name="states" type="rail:tStates" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Container to define disabled/enabled locally controlled areas</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:states_locallyControlledArea" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="ocpRef" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>DEPRECATED: use attribute 'ocpStationRef' or 'controllerRef' instead</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="rail:aOcpRef" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tTrackNode">
    <xs:sequence>
      <xs:element name="geoCoord" type="rail:tGeoCoord" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_trackBegin" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:geoCoord_trackEnd" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="rail:tGenericID" use="required" />
    <xs:attributeGroup ref="rail:aRelPosition" />
    <xs:attributeGroup ref="rail:aAbsPosition" />
  </xs:complexType>

  <xs:complexType name="tConnectionData">
    <xs:attribute name="id" type="rail:tGenericID" use="required" />
    <xs:attribute name="ref" type="rail:tGenericRef" use="required" />
  </xs:complexType>

  <xs:complexType name="tSwitchConnectionData">
    <xs:complexContent>
      <xs:extension base="rail:tConnectionData">
        <xs:attributeGroup ref="rail:aConnectionData" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:attributeGroup name="aConnectionData">
    <xs:attribute name="course" type="rail:tCourse" />
    <xs:attribute name="radius" type="rail:tRadiusM" />
    <xs:attribute name="maxSpeed" type="rail:tSpeedKmPerHour" />
    <xs:attribute name="branchDist" type="rail:tLengthM">
      <xs:annotation>
        <xs:documentation>DEPRECATED: use short 'track' instead</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="orientation" type="rail:tConnectionOrientation" use="required" />
    <xs:attribute name="passable" type="xs:boolean" default="true" />
  </xs:attributeGroup>

  <xs:simpleType name="tConnectionOrientation">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="incoming" />
          <xs:enumeration value="outgoing" />
          <xs:enumeration value="rightAngled" />
          <xs:enumeration value="unknown" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="tCourse">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="straight" />
          <xs:enumeration value="left" />
          <xs:enumeration value="right" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="tCrossSectionBlockType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="station" />
          <xs:enumeration value="block" />
          <xs:enumeration value="autoblock" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tCrossSection">
    <xs:complexContent>
      <xs:extension base="rail:tPlacedElement">
        <xs:attribute name="type" type="rail:tCrossSectionBlockType" />
        <xs:attribute name="ocpRef" type="rail:tGenericRef" use="required" />
        <xs:attribute name="ocpTrackID" type="xs:unsignedByte">
          <xs:annotation>
            <xs:documentation>DEPRECATED since it is not needed anymore (for defining platforms, please use the platform element instead)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="dir" type="rail:tLaxDirection">
          <xs:annotation>
            <xs:documentation>DEPRECATED since it is not needed here.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tBorderType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="tarif" />
          <xs:enumeration value="area" />
          <xs:enumeration value="state" />
          <xs:enumeration value="country" />
          <xs:enumeration value="station" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tBorder">
    <xs:complexContent>
      <xs:extension base="rail:tDelimitedOrientedElement">
        <xs:attribute name="type" type="rail:tBorderType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tBraking">
    <xs:annotation>
      <xs:documentation>parameters describing the train braking configuration</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="rail:aMinBasicBrakeAttributes" />
    <xs:attribute name="minimumBrakePercentage" type="rail:tBrakePercentage">
      <xs:annotation>
        <xs:documentation>minimum brake percentage of the train</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:attributeGroup name="aSpeed">
    <xs:attribute name="trainCategory" type="rail:tTrainCategory">
      <xs:annotation>
        <xs:documentation>DEPRECATED. Use the new attribute etcsTrainCategory instead.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="etcsTrainCategory" type="rail:tEtcsTrainCategory">
      <xs:annotation>
        <xs:documentation>the international train category number as specified on page 38 in ERA_ERTMS_040001 "Assignment of values to ETCS variables" v1.9 from 10/07/12</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="profileRef" type="rail:tGenericRef">
      <xs:annotation>
        <xs:documentation>reference to a speedProfile</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="status" type="xs:string" />
    <xs:attribute name="vMax" type="rail:tSpeedKmPerHour" use="required">
      <xs:annotation>
        <xs:documentation>maximum allowed speed in km/h</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="tSpeedInfo">
    <xs:attributeGroup ref="rail:aSpeed" />
  </xs:complexType>

  <xs:simpleType name="tInfluence">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="increasing" />
          <xs:enumeration value="decreasing" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tOcpRefInGroup">
    <xs:complexContent>
      <xs:extension base="rail:tElementRefInGroup">
        <!-- Possible ocpGroup-specific attributes to be added here later -->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tPath">
    <xs:sequence>
      <xs:element name="ocpRef" type="rail:tOcpRefInGroup" minOccurs="2" maxOccurs="2">
        <xs:annotation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=IS:ocpRef" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tSpeedProfile">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName">
        <xs:annotation>
          <xs:documentation>speed profile element that is referenced by speedChange elements</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="tilting" type="rail:tTilting" minOccurs="0">
            <xs:annotation>
              <xs:documentation>the tilting element contains parameters describing the required train tilting characteristics</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:tilting" />
            </xs:annotation>
          </xs:element>
          <xs:element name="braking" type="rail:tBraking" minOccurs="0">
            <xs:annotation>
              <xs:documentation>the braking element contains parameters describing the required train braking configuration</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:braking" />
            </xs:annotation>
          </xs:element>
          <xs:element name="path" type="rail:tPath" minOccurs="0">
            <xs:annotation>
              <xs:documentation>the path element indicates a train run between two neighbouring OCPs</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:path" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="influence" type="rail:tInfluence" use="required">
          <xs:annotation>
            <xs:documentation>allows for overlaying speed profiles</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="maxAxleLoad" type="rail:tWeightTons">
          <xs:annotation>
            <xs:documentation>maximum axle load of the train in tons</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="maxMeterLoad" type="rail:tMeterloadTonsPerMeter">
          <xs:annotation>
            <xs:documentation>maximum meter load of the train in tons per meter</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="operatingPeriodRef" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>reference to an operatingPeriod element from the timetable sub-schema</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="trainProtectionSystem" type="xs:string">
          <xs:annotation>
            <xs:documentation>defining the train protection system</xs:documentation>
            <xs:documentation>use value from the separate code definition file 'TrainProtectionSystems.xml'/trainProtectionSystemsAtTrack</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="verbalConstraint" type="xs:string">
          <xs:annotation>
            <xs:documentation>defining additional verbal constraints like certain train types</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tTrainRelation">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="headOfTrain" />
          <xs:enumeration value="midOfTrain" />
          <xs:enumeration value="endOfTrain" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tSpeedChange">
    <xs:complexContent>
      <xs:extension base="rail:tStrictOrientedElement">
        <xs:attributeGroup ref="rail:aSpeed" />
        <xs:attribute name="trainRelation" type="rail:tTrainRelation">
          <xs:annotation>
            <xs:documentation>Reference to the part of the train from where on the speed change is valid. Normally, a speed restriction that is higher than the train's current speed will be valid when the end of the train has passed the speed change while a speed restriction that is lower than the train's current speed will be valid already when the head of train passes the speedChange. Only define this attribute if your train relation differs from this default value.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mandatoryStop" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>specifying the speedChange as a mandatory stop point, e.g. in front of a level crossing</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="signalised" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>indicates whether the speed aspect is shown next to the track by a signal or panel (true) or only in the "driver's timetable" (false)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tGradientChange">
    <xs:complexContent>
      <xs:extension base="rail:tStrictOrientedElement">
        <xs:attribute name="slope" type="rail:tGradientPromille" use="required" />
        <xs:attribute name="transitionLenght" type="rail:tLengthM" />
        <xs:attribute name="transitionRadius" type="rail:tRadiusM" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tLevelCrossing">
    <xs:complexContent>
      <xs:extension base="rail:tDelimitedOrientedElement">
        <xs:attribute name="length" type="rail:tLengthM" default="0.000" />
        <xs:attribute name="angle" type="rail:tAngleDegQuadrant" default="90" />
        <xs:attribute name="protection" type="xs:string" default="none" />
        <xs:attributeGroup ref="rail:aOcpRef" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tTunnelType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="natural stone" />
          <xs:enumeration value="quarrystone" />
          <xs:enumeration value="brick" />
          <xs:enumeration value="concrete" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tTunnel">
    <xs:complexContent>
      <xs:extension base="rail:tDelimitedOrientedElementWithLength">
        <xs:attribute name="crossSection" type="rail:tLengthM" />
        <xs:attribute name="kind" type="rail:tTunnelType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tRadiusChange">
    <xs:complexContent>
      <xs:extension base="rail:tStrictOrientedElement">
        <xs:attribute name="radius" type="rail:tRadiusM" use="required" />
        <xs:attribute name="superelevation" type="rail:tLengthMM" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tBridge">
    <xs:complexContent>
      <xs:extension base="rail:tDelimitedOrientedElementWithLength">
        <xs:attribute name="kind" type="xs:string" />
        <xs:attribute name="meterload" type="rail:tMeterloadTonsPerMeter" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tTrackCondition">
    <xs:complexContent>
      <xs:extension base="rail:tDelimitedOrientedElement">
        <xs:attribute name="length" type="rail:tLengthM" />
        <xs:attribute name="type" type="rail:tTrackConditionType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tTrackConditionType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="nonStoppingArea" />
          <xs:enumeration value="lowerPantograph" />
          <xs:enumeration value="mainPowerSwitchOff" />
          <xs:enumeration value="radioHole" />
          <xs:enumeration value="airTightness" />
          <xs:enumeration value="noRegenerativeBrake" />
          <xs:enumeration value="noEddyCurrentBrake" />
          <xs:enumeration value="noMagneticShoeBrake" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  
  <xs:complexType name="tBaseServiceSection">
    <xs:complexContent>
      <xs:extension base="rail:tStrictOrientedElementWithLength">
        <xs:attribute name="height" type="rail:tLengthMM">
          <xs:annotation>
            <xs:documentation>height above the rails in millimeters</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="side" type="rail:tSide">
          <xs:annotation>
            <xs:documentation>side as seen from the oriented track, e.g. left or right</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ocpRef" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>reference to the OCP, where the platform edge / service section belongs to</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="rail:anyAttribute" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tPlatformEdge">
    <xs:complexContent>
      <xs:extension base="rail:tBaseServiceSection">
        <xs:attribute name="parentPlatformEdgeRef" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>reference to a parent platform edge for grouping platform edge parts together</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tSide">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left">
        <xs:annotation>
          <xs:documentation>left side, regarding the relative direction of the track from trackBegin to trackEnd</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="right">
        <xs:annotation>
          <xs:documentation>right side, regarding the relative direction of the track from trackBegin to trackEnd</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="tServiceSection">
    <xs:complexContent>
      <xs:extension base="rail:tBaseServiceSection">
        <xs:attribute name="parentServiceSectionRef" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>reference to a parent service section for grouping service section parts together</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ramp" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>defining the service section as being a ramp</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="maintenance" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>defining the service section as being a maintenance area</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="loadingFacility" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>defining the service section as being equipped with loading facilities</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="cleaning" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>defining the service section as being a cleaning area</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="fueling" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>defining the service section as being a fueling area</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="parking" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>defining the service section as being a parking area</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="preheating" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>defining the service section as being a preheating area</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tSignal">
    <xs:complexContent>
      <xs:extension base="rail:tRuleCodeElement">
        <xs:sequence>
          <xs:element name="speed" type="rail:tSignalSpeed" minOccurs="0">
            <xs:annotation>
              <xs:documentation>sub-element for defining a speed signal or panel</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:speed_signal" />
            </xs:annotation>
          </xs:element>
          <xs:element name="etcs" type="rail:tSignalEtcs" minOccurs="0">
            <xs:annotation>
              <xs:documentation>sub-element for defining an ETCS panel</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:etcs" />
            </xs:annotation>
          </xs:element>
          <xs:element name="levelCrossing" type="rail:tSignalLevelCrossing" minOccurs="0">
            <xs:annotation>
              <xs:documentation>sub-element for defining a level crossing signal or panel</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:levelCrossing_signal" />
            </xs:annotation>
          </xs:element>
          <xs:element name="trainRadio" type="rail:tSignalTrainRadio" minOccurs="0">
            <xs:annotation>
              <xs:documentation>sub-element for defining a train radio signal or panel</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:trainRadio" />
            </xs:annotation>
          </xs:element>
          <xs:element name="catenary" type="rail:tSignalCatenary" minOccurs="0">
            <xs:annotation>
              <xs:documentation>sub-element for defining a catenary signal or panel</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:catenary" />
            </xs:annotation>
          </xs:element>
          <xs:element name="line" type="rail:tSignalLine" minOccurs="0">
            <xs:annotation>
              <xs:documentation>sub-element for defining a line signal or panel</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:line_signal" />
            </xs:annotation>
          </xs:element>
          <xs:element name="milepost" type="rail:tSignalMilepost" minOccurs="0">
            <xs:annotation>
              <xs:documentation>sub-element for defining a mileage signpost</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:milepost" />
            </xs:annotation>
          </xs:element>
          <xs:element name="braking" type="rail:tSignalBraking" minOccurs="0">
            <xs:annotation>
              <xs:documentation>sub-element for defining a braking signal or panel</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:braking" />
            </xs:annotation>
          </xs:element>
          <xs:element name="trainProtectionElementGroupRef" type="rail:tElementWithReference" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>sub-element for a reference to a trainProtectionElementGroup, which is connected to the signal's aspect</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:trainProtectionElementGroupRef" />
            </xs:annotation>
          </xs:element>
          <xs:element name="baliseGroupRef" type="rail:tElementWithReference" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>sub-element for a reference to a baliseGroup, which is connected to the signal's aspect</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:baliseGroupRef" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="rail:aSignal" />
        <xs:attributeGroup ref="rail:aOcpRef" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tSignalBase">
    <xs:attribute name="switchable" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>defining the signal to be switchable or fixed (panel)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="rail:anyAttribute">
      <xs:annotation>
        <xs:documentation>provide an extension point for non-railML attributes in foreign namespace</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>

  <xs:complexType name="tSignalSpeed">
    <xs:complexContent>
      <xs:extension base="rail:tSignalBase">
        <xs:sequence>
          <xs:element name="speedChangeRef" type="rail:tElementWithReference" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>reference to a speed change</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:speedChangeRef" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="kind" type="rail:tSignalKind">
          <xs:annotation>
            <xs:documentation>speed signal/panel kind (announcement, execution)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="trainRelation" type="rail:tTrainRelation">
          <xs:annotation>
            <xs:documentation>Reference to the part of the train from where on the signal is valid.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tSignalEtcs">
    <xs:complexContent>
      <xs:extension base="rail:tSignalBase">
        <xs:attributeGroup ref="rail:aETCS">
          <xs:annotation>
            <xs:documentation>ETCS level (1, 2, 3, ...)</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tSignalLevelCrossing">
    <xs:complexContent>
      <xs:extension base="rail:tSignalBase">
        <xs:attribute name="type" type="rail:tLevelCrossingSignalType">
          <xs:annotation>
            <xs:documentation>level crossing signal type (bell, whistle, announcing, activating)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ref" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>reference to a level crossing</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tLevelCrossingSignalType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="bell" />
          <xs:enumeration value="whistle" />
          <xs:enumeration value="announcing" />
          <xs:enumeration value="activating" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tSignalTrainRadio">
    <xs:complexContent>
      <xs:extension base="rail:tSignalBase">
        <xs:attribute name="trackConditionRef" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>reference to a trackCondition element</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tSignalCatenary">
    <xs:complexContent>
      <xs:extension base="rail:tSignalBase">
        <xs:attribute name="trackConditionRef" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>reference to a trackCondition element</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tSignalLine">
    <xs:complexContent>
      <xs:extension base="rail:tSignalBase">
        <xs:attribute name="ref" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>reference to a line</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tSignalMilepost">
    <xs:complexContent>
      <xs:extension base="rail:tSignalBase">
        <xs:attribute name="shownValue" type="rail:tLength">
          <xs:annotation>
            <xs:documentation>mileage value printed on the milepost</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="shownRemark" type="xs:string">
          <xs:annotation>
            <xs:documentation>any remark that is printed on the milepost, e.g. for documenting a mileage gap</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mileageChangeRef" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>reference to a mileageChange element</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="lineRef" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>reference to a line, for which the milepost is valid</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tSignalBraking">
    <xs:complexContent>
      <xs:extension base="rail:tSignalBase">
        <xs:attribute name="trackConditionRef" type="rail:tGenericRef">
          <xs:annotation>
            <xs:documentation>reference to a trackCondition element</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tSignalKind">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="announcement" />
          <xs:enumeration value="execution" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="tSignalType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="main" />
          <xs:enumeration value="distant" />
          <xs:enumeration value="repeater" />
          <xs:enumeration value="combined" />
          <xs:enumeration value="shunting" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="tSignalFunction">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="exit" />
          <xs:enumeration value="home" />
          <xs:enumeration value="blocking" />
          <xs:enumeration value="intermediate" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:attributeGroup name="aSignal">
    <xs:attribute name="sight" type="rail:tLengthM" />
    <xs:attribute name="type" type="rail:tSignalType" />
    <xs:attribute name="function" type="rail:tSignalFunction" />
    <xs:attribute name="sigSystem" type="xs:string" />
    <xs:attribute name="switchable" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>DEPRECATED: use attribute 'switchable' in sub-elements instead</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maskableRoute" type="xs:boolean" />
    <xs:attribute name="maskableATC" type="xs:boolean" />
    <xs:attribute name="virtual" type="xs:boolean" default="false" />
    <xs:attribute name="signalBoxOcpRef" type="rail:tGenericRef">
      <xs:annotation>
        <xs:documentation>DEPRECATED: use attribute 'controllerRef' instead</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="stationOcpRef" type="rail:tGenericRef">
      <xs:annotation>
        <xs:documentation>DEPRECATED: use attribute 'ocpStationRef' instead</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="distNearestDangerPoint" type="rail:tLengthM" />
    <xs:attribute name="trackDist" type="rail:tLengthM" />
    <xs:attribute name="height" type="rail:tLengthM" />
  </xs:attributeGroup>

  <xs:attributeGroup name="aSignalGroup">
    <xs:attribute name="type" type="rail:tSignalGroupType" />
  </xs:attributeGroup>

  <xs:simpleType name="tSignalGroupType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="distant-main" />
          <xs:enumeration value="station" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tSignalGroup">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName">
        <xs:attributeGroup ref="rail:aSignalGroup" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tSignalRefInGroup">
    <xs:complexContent>
      <xs:extension base="rail:tElementRefInGroup">
        <!-- Possible signalGroup-specific attributes to be added here later -->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tPIG">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="7" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="tBalise">
    <xs:complexContent>
      <xs:extension base="rail:tOrientedElement">
        <xs:attributeGroup ref="rail:aBalise" />
        <xs:attribute name="ndx" type="rail:tPIG"> </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tBaliseGroup">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName">
        <xs:sequence>
          <xs:element name="baliseRef" type="rail:tBaliseRefInGroup" maxOccurs="8">
            <xs:annotation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:baliseRef" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="rail:tBaliseGroupType">
          <xs:annotation>
            <xs:documentation>functional type of the balise group</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tBaliseGroupType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="infill" />
          <xs:enumeration value="signal" />
          <xs:enumeration value="fixed" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tBaliseRefInGroup">
    <xs:complexContent>
      <xs:extension base="rail:tElementRefInGroup">
        <!-- Possible baliseGroup-specific attributes to be added here later -->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tBaliseCountryID">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1023" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tBaliseGroupID">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="16383" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tBaliseLinkingAcc">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="-63" />
      <xs:maxInclusive value="63" />
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="aBalise">
    <xs:attribute name="countryID" type="rail:tBaliseCountryID" />
    <xs:attribute name="groupID" type="rail:tBaliseGroupID" />
    <xs:attribute name="linkingAccuracy" type="rail:tBaliseLinkingAcc" />
    <xs:attribute name="linkReactionAscending" type="rail:tBaliseLinkReaction" />
    <xs:attribute name="linkReactionDescending" type="rail:tBaliseLinkReaction" />
    <xs:attribute name="staticTelegram" type="xs:string" />
  </xs:attributeGroup>

  <xs:simpleType name="tBaliseLinkReaction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="trainTrip" />
      <xs:enumeration value="applyServiceBrake" />
      <xs:enumeration value="noReaction" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tDetectionObject">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="wheel" />
          <xs:enumeration value="axle" />
          <xs:enumeration value="train" />
          <xs:enumeration value="endOfTrain" />
          <xs:enumeration value="obstacle" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="tDetectorMedium">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="mechanical" />
          <xs:enumeration value="hydraulic" />
          <xs:enumeration value="pneumatic" />
          <xs:enumeration value="magnetic" />
          <xs:enumeration value="inductive" />
          <xs:enumeration value="optical" />
          <xs:enumeration value="radio" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="tPosInTrack">
    <xs:restriction base="xs:string">
      <xs:enumeration value="center" />
      <xs:enumeration value="leftRail" />
      <xs:enumeration value="leftRailInside" />
      <xs:enumeration value="leftRailOutside" />
      <xs:enumeration value="rightRail" />
      <xs:enumeration value="rightRailInside" />
      <xs:enumeration value="rightRailOutside" />
      <xs:enumeration value="outside" />
      <xs:enumeration value="outsideLeft" />
      <xs:enumeration value="outsideRight" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="tTrainDetector">
    <xs:complexContent>
      <xs:extension base="rail:tDelimitedOrientedElement">
        <xs:attribute name="detectionObject" type="rail:tDetectionObject" />
        <xs:attribute name="medium" type="rail:tDetectorMedium" />
        <xs:attribute name="posInTrack" type="rail:tPosInTrack" />
        <xs:attribute name="directionDetection" type="xs:boolean" />
        <xs:attribute name="model" type="xs:string" />
        <xs:attribute name="axleCounting" type="xs:boolean" />
        <xs:attributeGroup ref="rail:aOcpRef" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tInsulatedRailSide">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="left" />
      <xs:enumeration value="right" />
      <xs:enumeration value="both" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="tTrackCircuitBorder">
    <xs:complexContent>
      <xs:extension base="rail:tDelimitedOrientedElement">
        <xs:attribute name="insulatedRail" type="rail:tInsulatedRailSide" />
        <xs:attributeGroup ref="rail:aOcpRef" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tStopPost">
    <xs:complexContent>
      <xs:extension base="rail:tRuleCodeElement">
        <xs:sequence>
          <xs:element name="validForMovements" type="rail:tValidForMovements" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>specification of the train types for which the stop post is relevant</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:validForMovements" />
            </xs:annotation>
          </xs:element>
          <xs:element name="signalRef" type="rail:tElementWithReference" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>reference to a (main) signal that is valid for a train waiting at the stop post</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=IS:signalRef_stopPost" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="rail:aStopPost" />
        <xs:attributeGroup ref="rail:anyAttribute">
          <xs:annotation>
            <xs:documentation>provide an extension point for non-railML attributes in foreign namespace</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="tDerailer">
    <xs:complexContent>
      <xs:extension base="rail:tRuleCodeElement">
        <xs:attribute name="derailSide" type="rail:tSide">
          <xs:annotation>
            <xs:documentation>Side, to which the vehicle will be derailed (left or right) considering the orientation of the track.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="kind" type="rail:tDerailKind">
          <xs:annotation>
            <xs:documentation>kind of derail device (cp. book "Railway Signalling and Interlocking" by Gregor Theeg and Sergej Vlasenko (Editors), p. 155)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="model" type="xs:string">
          <xs:annotation>
            <xs:documentation>specification of the derailer</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="tDerailKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="blockDerail">
        <xs:annotation>
          <xs:documentation>see book "Railway Signalling and Interlocking", p. 155</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="singleCatchPoints">
        <xs:annotation>
          <xs:documentation>see book "Railway Signalling and Interlocking", p. 155</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="doubleCatchPoints">
        <xs:annotation>
          <xs:documentation>see book "Railway Signalling and Interlocking", p. 155</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="tValidForMovements">
    <xs:attribute name="kind" type="rail:tTrainMovements">
      <xs:annotation>
        <xs:documentation>specification of the train types</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:attributeGroup name="aStopPost">
    <xs:attribute name="trainRelation" type="rail:tTrainRelation">
      <xs:annotation>
        <xs:documentation>Reference to the part of the train from where on the stop post is valid. Normally, a stop post relates to the head of the train.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="platformEdgeRef" type="rail:tGenericRef">
      <xs:annotation>
        <xs:documentation>reference to a platform edge for which the stop post is relevant</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="trainLength" type="rail:tLengthM">
      <xs:annotation>
        <xs:documentation>set this value if the stop post is only valid for trains with a certain train length</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="axleCount" type="rail:tPositiveCounter">
      <xs:annotation>
        <xs:documentation>set this value if the stop post is only valid for trains with a certain number of axles</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="wagonCount" type="rail:tPositiveCounter">
      <xs:annotation>
        <xs:documentation>set this value if the stop post is only valid for trains with a certain number of wagons</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="verbalConstraints" type="xs:string">
      <xs:annotation>
        <xs:documentation>set this value if the stop post is only valid for trains fulfilling a certain verbal constraint</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="virtual" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>marks a stop post being virtual if there is no physical representation along the track</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ocpRef" type="rail:tGenericRef">
      <xs:annotation>
        <xs:documentation>reference to an OCP, which the stop post belongs to</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:simpleType name="tTrainMovements">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="freightTrains" />
          <xs:enumeration value="passengerTrains" />
          <xs:enumeration value="allTrains" />
          <xs:enumeration value="shunting" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tInfrastructure">
    <xs:complexContent>
      <xs:extension base="rail:tGlobalElementWithMetadata">
        <xs:attributeGroup ref="rail:aInfrastructure" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:attributeGroup name="aInfrastructure">
    <xs:attribute name="timetableRef" type="rail:tGenericRef" />
    <xs:attribute name="rollingstockRef" type="rail:tGenericRef" />
  </xs:attributeGroup>

  <xs:complexType name="tInfrastructureVisualization">
    <xs:attribute name="version" type="rail:tRailMLVersion" use="required" />
    <xs:attribute name="infrastructureRef" type="rail:tGenericRef" />
    <xs:attribute name="id" type="rail:tGenericID" use="required" />
  </xs:complexType>

  <xs:complexType name="tPoint">
    <xs:attribute name="x" type="xs:double" use="required" />
    <xs:attribute name="y" type="xs:double" use="required" />
  </xs:complexType>

  <xs:complexType name="tSize">
    <xs:attribute name="width" type="xs:double" use="required" />
    <xs:attribute name="height" type="xs:double" use="required" />
  </xs:complexType>

  <xs:complexType name="tAttribute">
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="value" type="xs:string" use="required" />
  </xs:complexType>

</xs:schema>
