r/railml/src/main/resources/subschemas/railwayBaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- $Id: railwayBaseTypes.xsd 602 2013-06-11 15:25:20Z railML.org $ -->
<xs:schema xmlns:rail="http://www.railml.org/schemas/2013" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dc="http://purl.org/dc/elements/1.1/" targetNamespace="http://www.railml.org/schemas/2013" elementFormDefault="qualified" version="2.2">

  <xs:annotation>
    <xs:documentation>Copyright (c) railML.org; All Rights Reserved.</xs:documentation>
    <xs:documentation>This work is licensed under a Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License with further restrictions. http://www.railml.org/index.php/license.html</xs:documentation>
    <xs:documentation>For further information see: http://www.railml.org/</xs:documentation>
    <xs:documentation>Content of this file: XML Schema for railML(R) 2.2 Definition of attribute groups, simple and complex types, used by more than one sub schema</xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="genericRailML.xsd" />
  <xs:include schemaLocation="railwayUnits.xsd" />

  <!-- ** WIP ** xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dc.xsd">
    <xs:annotation>
      <xs:documentation>Portions of this software may use XML schemas Copyright (c) 2009 DCMI, the Dublin Core Metadata Initiative. These are licensed under the Creative Commons 3.0 Attribution license.</xs:documentation>
      <xs:documentation>For further information see: http://dublincore.org/ License link: http://creativecommons.org/licenses/by/3.0/</xs:documentation>
    </xs:annotation>
  </xs:import -->

  <xs:complexType name="tTimeSpan">
    <xs:annotation>
      <xs:documentation>generic type for time spans/periods in required context</xs:documentation>
    </xs:annotation>
    <xs:attribute name="from" type="xs:time" use="required" />
    <xs:attribute name="until" type="xs:time" use="required" />
  </xs:complexType>

  <xs:attributeGroup name="aPeriodTimeSpan">
    <xs:annotation>
      <xs:documentation>generic type for time spans/periods in optional context</xs:documentation>
    </xs:annotation>
    <xs:attribute name="startTime" type="xs:time" />
    <xs:attribute name="endTime" type="xs:time" />
  </xs:attributeGroup>

  <xs:attributeGroup name="aTimePeriod">
    <xs:annotation>
      <xs:documentation>generic type for time spans/periods regarding its dates</xs:documentation>
    </xs:annotation>
    <xs:attribute name="startDate" type="xs:date" />
    <xs:attribute name="endDate" type="xs:date" />
  </xs:attributeGroup>

  <xs:simpleType name="tTimeZone">
    <xs:annotation>
      <xs:documentation>timezone as defined in the tz database, e.g. "America/New_York"</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:complexType name="tBasicBrakeType">
    <xs:annotation>
      <xs:documentation>settings and characteristic of a particular brake type or brake application position</xs:documentation>
      <xs:documentation source="http://wiki.railml.org/index.php?title=RS:vehicleBrake" />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="auxiliaryBrakes" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>provides access to the list of possible auxiliary brake systems</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:auxiliaryBrakes_vehicleBrake" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:auxiliaryBrakes_trainBrakes" />
          <xs:documentation source="http://wiki.railml.org/index.php?title=TT:auxiliaryBrakes" />
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="rail:aAuxiliaryBrakes" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="rail:aBasicBrakeAttributes" />
  </xs:complexType>

  <xs:attributeGroup name="aMinBasicBrakeAttributes">
    <xs:attribute name="brakeType" type="rail:tBrakeType" use="required">
      <xs:annotation>
        <xs:documentation>vacuum or compressed air brake, hand brake, parking brake, cable brake</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="airBrakeApplicationPosition" type="rail:tAirBrakeApplicationPosition">
      <xs:annotation>
        <xs:documentation>base brake switch, one of G, P or R</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="aBasicBrakeAttributes">
    <xs:attributeGroup ref="rail:aMinBasicBrakeAttributes" />
    <xs:attribute name="regularBrakeMass" type="rail:tWeightTons">
      <xs:annotation>
        <xs:documentation>brake mass for normal brake operations of none-automatic brakes</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="emergencyBrakeMass" type="rail:tWeightTons">
      <xs:annotation>
        <xs:documentation>brake mass for emergency brake operations, differs from regular brake mass depending on auxiliary brakes</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxDeceleration" type="rail:tAccelerationMeterPerSquareSec">
      <xs:annotation>
        <xs:documentation>alternative specification of maximum possible momentary deceleration</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="meanDeceleration" type="rail:tAccelerationMeterPerSquareSec">
      <xs:annotation>
        <xs:documentation>alternative specification of effective mean deceleration of a whole brake operation</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:simpleType name="tBrakeType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="none" />
          <xs:enumeration value="compressedAir">
            <xs:annotation>
              <xs:documentation>de: Druckluftbremse</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="vacuum">
            <xs:annotation>
              <xs:documentation>de: Saugluftbremse</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="handBrake" />
          <xs:enumeration value="parkingBrake" />
          <xs:enumeration value="cableBrake">
            <xs:annotation>
              <xs:documentation>de: Seilzugbremse</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="tAirBrakeApplicationPosition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N/A" />
      <xs:enumeration value="G">
        <xs:annotation>
          <xs:documentation>Goods</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="P">
        <xs:annotation>
          <xs:documentation>Passenger</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="R">
        <xs:annotation>
          <xs:documentation>Rapid</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tBrakePercentage">
    <xs:annotation>
      <xs:documentation>Brake percentage as value of braking performance in relation to vehicle weight</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:maxInclusive value="225" />
      <xs:minInclusive value="6" />
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="aAuxiliaryBrakes">
    <xs:annotation>
      <xs:documentation>de: Zusatz-/Hilfsbremsen</xs:documentation>
    </xs:annotation>
    <xs:attribute name="brakeUse" type="rail:tBrakeUse" />
    <xs:attribute name="H" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>de: hydro-dynamisch</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="E" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>de: elektro-motorisch</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Mg" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>de: Magnetschienenbremse</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Wb" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>de: Wirbelstrombremse</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ep" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>de: elektro-pneumatisch</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:simpleType name="tBrakeUse">
    <xs:annotation>
      <xs:documentation>planned/calculated usage of specified brakes</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="unknown" />
      <xs:enumeration value="normal" />
      <xs:enumeration value="emergency" />
      <xs:enumeration value="both" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tTrainProtectionMedium">
    <xs:annotation>
      <xs:documentation>classification of a train protection system by physical medium</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="mechanical" />
      <xs:enumeration value="electric" />
      <xs:enumeration value="inductive" />
      <xs:enumeration value="magnetic" />
      <xs:enumeration value="optical" />
      <xs:enumeration value="radio" />
      <xs:enumeration value="rail" />
      <xs:enumeration value="cable" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tTrainProtectionMonitoring">
    <xs:annotation>
      <xs:documentation>classification of a train protection system by coverage</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="intermittent" />
      <xs:enumeration value="continuous" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tInterlockingTypes">
    <xs:annotation>
      <xs:documentation>classification of an interlocking system by kind of implementation</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="mechanical" />
      <xs:enumeration value="electro-mechanical" />
      <xs:enumeration value="electrical">
        <xs:annotation>
          <xs:documentation>de: Gleisbildstellwerk, Spurplanstellwerk ...</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="electronical">
        <xs:annotation>
          <xs:documentation>de: ESTW</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ePassengerFacility">
    <xs:sequence>
      <xs:element name="places" type="rail:tPlaces" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>list of place capacity of the vehicle divided by particular categories</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:places" />
        </xs:annotation>
      </xs:element>
      <xs:element name="service" type="rail:tService" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>description of any additional service provided per vehicle</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:service_passenger" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tPlaces">
    <xs:annotation>
      <xs:documentation>description of any places of the passenger car(part)</xs:documentation>
      <xs:documentation source="http://wiki.railml.org/index.php?title=RS:places" />
    </xs:annotation>
    <xs:attributeGroup ref="rail:aPlaces" />
  </xs:complexType>

  <xs:attributeGroup name="aPlaces">
    <xs:attribute name="category" type="rail:tPlaceCategory" use="required" />
    <xs:attribute name="count" type="rail:tCounter" use="required">
      <xs:annotation>
        <xs:documentation>count="0" means: there is no place of this category</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" type="rail:tElementDescription" />
  </xs:attributeGroup>

  <xs:simpleType name="tPlaceCategory">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="class1" />
          <xs:enumeration value="class2" />
          <xs:enumeration value="class3" />
          <xs:enumeration value="standing" />
          <xs:enumeration value="wheelchair" />
          <xs:enumeration value="bicycle" />
          <xs:enumeration value="couchette" />
          <xs:enumeration value="bed" />
          <xs:enumeration value="chair" />
          <xs:enumeration value="bistro" />
          <xs:enumeration value="restaurant" />
          <xs:enumeration value="foldingSeat" />
          <xs:enumeration value="impairedToilet" />
          <xs:enumeration value="toilet" />
          <xs:enumeration value="businessCompartment" />
          <xs:enumeration value="familyCompartment" />
          <xs:enumeration value="toddlerCompartment" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tService">
    <xs:annotation>
      <xs:documentation>description of any service provided by the passenger car(part)</xs:documentation>
      <xs:documentation source="http://wiki.railml.org/index.php?title=RS:service" />
    </xs:annotation>
    <xs:attributeGroup ref="rail:aService" />
  </xs:complexType>

  <xs:attributeGroup name="aService">
    <xs:attribute name="name" type="rail:tGenericName" use="required" />
    <xs:attribute name="count" type="rail:tCounter" use="required">
      <xs:annotation>
        <xs:documentation>count="0" means: there is not such a service</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" type="rail:tElementDescription" />
    <xs:attribute name="value" type="xs:decimal">
      <xs:annotation>
        <xs:documentation>generic decimal value for additional information of the service, meaning should be clarified by its "description"</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="rail:tServiceType" />
    <xs:attributeGroup ref="rail:anyAttribute" />
  </xs:attributeGroup>

  <xs:simpleType name="tServiceType">
    <xs:annotation>
      <xs:documentation>list of common service types</xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="mobileCatering" />
          <xs:enumeration value="WLAN" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="tLineClassificationType">
    <xs:annotation>
      <xs:documentation>according RIV</xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="A" />
          <xs:enumeration value="B1" />
          <xs:enumeration value="B2" />
          <xs:enumeration value="B3" />
          <xs:enumeration value="B4" />
          <xs:enumeration value="C1" />
          <xs:enumeration value="C2" />
          <xs:enumeration value="C3" />
          <xs:enumeration value="C4" />
          <xs:enumeration value="CM2" />
          <xs:enumeration value="CM3" />
          <xs:enumeration value="CM4" />
          <xs:enumeration value="D2" />
          <xs:enumeration value="D3" />
          <xs:enumeration value="D4" />
          <xs:enumeration value="E" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="rail:tOtherEnumerationValue" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complexType name="tTilting">
    <xs:annotation>
      <xs:documentation>data for tilting mechanism of passenger cars</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="rail:aTilting" />
  </xs:complexType>

  <xs:attributeGroup name="aTilting">
    <xs:attribute name="maxTiltingAngle" type="rail:tAngleDegQuadrant">
      <xs:annotation>
        <xs:documentation>maximum tilting angle in degrees</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="actuation" type="rail:tTiltingActuationType">
      <xs:annotation>
        <xs:documentation>way of actuating the car body tilting (active/passive)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tiltingSpeed" type="rail:tSpeedDegreesPerSecond">
      <xs:annotation>
        <xs:documentation>speed of changing the tilting angle in degrees per second</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:simpleType name="tTiltingActuationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="active" />
      <xs:enumeration value="passive" />
      <xs:enumeration value="rollCompensation" />
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="aETCS">
    <xs:attribute name="srsVersion" type="rail:tVersionNumber">
      <xs:annotation>
        <xs:documentation>Version of ETCS language (SRS edition) installed</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="level_0" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>on-board unit supports level 0</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="level_1" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>on-board unit supports level 1</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="level_2" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>on-board unit supports level 2</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="level_3" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>on-board unit supports level 3</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- ** WIP ** xs:complexType name="tMetadata">
    <xs:complexContent>
      <xs:extension base="dc:elementContainer">
        <xs:annotation>
          <xs:documentation>flexible collection of Dublin Core metadata based on xs:any according to http://dublincore.org/</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="organizationalUnits" type="rail:tOrganizationalUnits" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Container element for various company definitions regarding the railway service of this file</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=CO:organizationalUnits" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType -->

  <xs:complexType name="tOrganizationalUnits">
    <xs:sequence>
      <xs:element name="infrastructureManager" type="rail:tInfrastructureManager" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>de: Infrastrukturbetreiber</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=CO:infrastructureManager" />
        </xs:annotation>
      </xs:element>
      <xs:element name="vehicleManufacturer" type="rail:tVehicleManufacturer" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>de: Fahrzeughersteller</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=CO:vehicleManufacturer" />
        </xs:annotation>
      </xs:element>
      <xs:element name="vehicleOperator" type="rail:tVehicleOperator" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Some kind of subcontractor (railway undertaking) that operates the vehicle, if different from the one that is responsible for the commercial service</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=CO:vehicleOperator" />
        </xs:annotation>
      </xs:element>
      <xs:element name="customer" type="rail:tCustomer" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The authority or enterprise that ordered the transportation service, i.e., an integrated transit system</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=CO:customer" />
        </xs:annotation>
      </xs:element>
      <xs:element name="railwayUndertaking" type="rail:tRailwayUndertaking" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The undertaking that is commercially responsible for the service</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=CO:railwayUndertaking" />
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalUndertaking" type="rail:tOperationalUndertaking" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The unit that is responsible for the operational planning of this service</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=CO:operationalUndertaking" />
        </xs:annotation>
      </xs:element>
      <xs:element name="concessionaire" type="rail:tConcessionaire" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>de: Konzessionsinhaber</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=CO:concessionaire" />
        </xs:annotation>
      </xs:element>
      <xs:element name="contractor" type="rail:tContractor" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Any unit or undertaking that has a binding not defined in a neighbouring element</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=CO:contractor" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tInfrastructureManager">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName">
        <xs:annotation>
          <xs:documentation>use the separated infrastructureManagerCode list for the 'code' attribute</xs:documentation>
        </xs:annotation>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tVehicleManufacturer">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tVehicleOperator">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tCustomer">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tRailwayUndertaking">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tOperationalUndertaking">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tConcessionaire">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tContractor">
    <xs:complexContent>
      <xs:extension base="rail:tElementWithIDAndName">
        <xs:attribute name="role" type="rail:tGenericName">
          <xs:annotation>
            <xs:documentation>characterizes the kind of work that has to be fulfilled with the contract, e.g. catering, cleaning</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="subLevel" type="rail:tCounter">
          <xs:annotation>
            <xs:documentation>the level of sub-contract, if appropriate, starting with zero for direct contracts</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
